<div style="text-align: center;">
  <h1><%= "面談動画一覧" %></h1>
</div>

<div class="text-end" style="margin-right: 20px;">
  <%= link_to "新規登録", new_movie_url, remote: true, class: "btn btn-primary movie__link" %>
</div>

<section class="movie container" id="index-movies" style="text-align: center; max-width: 500px;">
  <% @movies.each do |pattern_id, movies| %>
    <% if pattern_id == 0 %>
      <h3><%= "未分類" %></h3>
    <% else %>
      <h4><%= Pattern.find(pattern_id).name %></h4>
    <% end %>
    <% movies.each do |movie| %>
      <div class="movie__inner">
        <div class="movie__title">
          <%= movie.title.truncate(50) %>
          <div class="display-off-text"></div>
        </div>
        <div class="movie__iframe embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= movie.youtube_mid %>"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  style="height: 169px;" allowfullscreen>
          </iframe>
        </div>
        <div class="movie__text">
          <span class="movie__text__title">コメント</span>
          <p><%= movie.text %></p>
        </div>
        <br>
        <div class="movie__edit">
          <%= link_to "編集", edit_movie_path(movie), remote: true, class: "btn btn-success" %>
          <%= link_to '削除', movie_path(movie),
              class: "btn btn-danger",
              method: :delete,
              remote: true,
              data: { confirm: "『#{movie.title}』を削除してよろしいですか？",
                      cancel: 'キャンセル',
                      commit: '削除する'
                    }, title: '削除確認'
          %>
        </div>
      </div>
    <% end %>
  <% end %>
</section>