<div style="text-align: center;">
  <h2>動画投稿画面</h2>
</div>

<div class="conteiner">
  <div class="col-10 offset-1"> 
    <div class="movies__form">
      <%= form_with(model: @movie, local: true) do |f| %>
        <div class="movies__input">
          <%= f.label :youtube_url, "YouTubeのURL"%><br>
          <%= f.text_field :youtube_url, placeholder: 'URLを入力してください。', style: "width:300px" %><br>
          <%= f.label :text, "コメント" %><br>
          <%= f.text_area :text, placeholder: '動画説明やメッセージを入力できます。（300文字以内）',
                                  size: "20x7", class: "form-control memo"
          %>
        </div>
        <%= f.submit '投稿する', class: "btn btn-primary" %><br><br>
      <% end %>
    </div>
  </div>
</div>